#splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease;
}

#splash.fade-out {
    opacity: 0;
    pointer-events: none;
}

#splashVideo {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

#Wrapper {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

#Wrapper.show {
    opacity: 1;
    display: block;
}

.theme,
.about,
.coming-soon {
    position: relative;
}

.theme h2 {
    color: var(--color-NETSU);
}

.theme .human-img {
    position: absolute;
    bottom: -198px;
    left: calc(-160 / 1920 * 100vw);
    width: clamp(100px, 22vw, 240px);
}

.about h2 {
    color: var(--color-GREEN);
}

.about .human-img {
    position: absolute;
    bottom: -180;
    right: calc(-300 / 1920 * 100vw);
    width: clamp(108px, 23.3vw, 370px);
}

.note {
    font-size: var(--font-size-Rs);
    color: var(--color-GREEN);
}

.coming-soon {
    position: relative;
    height: 100%;
}

.coming-soon-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--en-copy-font);
    font-size: var(--font-size-L);
    font-weight: 400;
    color: var(--color-Ecru);
    text-align: center;
    vertical-align: middle;
}

.coming-soon .bg-box {
    font-size: var(--font-size-L);
    width: 16em;
    margin: 0 auto;
}

.coming-soon .human-img {
    position: absolute;
    bottom: -200px;
    left: calc(-160 / 1920 * 100vw);
    width: clamp(92px, 21vw, 310px);
}

.zoomIn {
    opacity: 0;
}

.human-img.zoomIn.action {
    animation: zoomIn-Animation .4s ease-in-out 1s forwards;
}

@keyframes zoomIn-Animation {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media only screen and (max-width: 480px) {
    .theme .human-img {
        bottom: calc(-98 / 852 * 100vh);
        left: calc(12 / 393 * 100vw);
    }

    .about .human-img {
        bottom: calc(-128 / 852 * 100vh);
        right: 0;
    }

    .coming-soon .human-img {
        bottom: calc(-130 / 852 * 100vh);
        left: 0;
    }
}